*.o
.DS_Store
.*.swp
/env
/.toolchain_build_ver
/bin
/build_dir
/staging_dir
/tmp
/logs
/files
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
/llvm-bpf*
key-build*
scripts/fossid-exclude-pattern
scripts/fossid.sh
/target/linux/feeds
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*
