config ETH_IPQ5332
	depends on DM && QTI_NSS_SWITCH && TARGET_IPQ5332
	default y
	bool "Ethernet driver for QTI IPQ5332"
	help
	  Enable this to support the ethernet in IPQ5332 SoCs.

config ETH_IPQ9574
	depends on DM && QTI_NSS_SWITCH && TARGET_IPQ9574
	default y
	bool "Ethernet driver for QTI IPQ9574"
	help
	  Enable this to support the ethernet in QTI IPQ9574 Soc.
